@import "~antd/dist/antd.css";
@import "./variables";
@import "./mxins";
@import "./_components/feature/enqueue/enqueue";
@import "./_components/feature/queue-view/queueView";
@import "./_components/feature/applications/style";
@import "./_components/feature/dashboard/dashboard";


p {
    margin: 0;
}

body {
    background-color: $main-white;
    background-image: url(/tile.png);
    background-repeat: repeat-x;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.mainContainer {
    block-size: 100vh;
    overflow: hidden;
    background-color: $main-white;
}

.btnCont {
    height: 60px;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.listCont {
    margin-bottom: 15px;
    padding: 0 0 15px 0;
    height: 100%;
    overflow-y: scroll;

    li {
        height: 60px;
        list-style: none;
        border-block-end: 1px solid #f1f1f1;

        .listName {
            height: 60px;
            display: grid;
            place-items: center start;

            p {
                margin: 0;
                font-size: 18px;
                font-weight: 600;

                span {
                    font-size: small;
                    color: #aaaaaa;
                }
            }
        }

        .listIcn {
            display: grid;
            place-items: center;
        }

        .btnOptions {}
    }
}

.containerBody {
    height: calc(100vh - 140px) !important;
    @include boxShadow;
    background-color: lighten($main-white, 4);
    margin-top: 10px;
    border-radius: 5px;
    padding-block-end: 25px;
    overflow: hidden;

    .graphContainerHeader {
        border-block-end: 1px dashed #d1cfcf;
        height: 40px;
        display: grid;
        place-items: center start;
        margin-bottom: 15px;

        p {
            margin-bottom: 0;
            font-size: 14px;
            color: #838383;
            font-weight: 600;
        }
    }
}